<a href="https://colab.research.google.com/github/imksav/gca_python/blob/master/Day1InPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
squares = [0,1,4,9,16,25,36]
print(squares)
print(squares[0])
print(squares[:])
print(squares[:0:])
print(squares[:-4])
print(squares[-4:])
print(squares+[49,64,81])
print(squares[:])
squares.append(100)
print(squares)
squares[5]=26
print(squares)
letters = ['a','c', 'd', 'u']
print(letters)
letters[1:3]=['e','i']
print(letters)
letters[1:3]=[]
print(letters)
letters[:]=[]
print(letters)

[0, 1, 4, 9, 16, 25, 36]
0
[0, 1, 4, 9, 16, 25, 36]
[]
[0, 1, 4]
[9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 100]
[0, 1, 4, 9, 16, 26, 36, 100]
['a', 'c', 'd', 'u']
['a', 'e', 'i', 'u']
['a', 'u']
[]

In [ ]:
fName = "Keshav"
space = " "
lname = "Bhandari"
fullName =fName+space+lname # to concatate
print(fullName)
print(fName[3]) # to print the character of given place value 
print(len(fName)) # to get the length of string data
print(fullName[2:6]) # include the begining and exclude the ending place value
data1 = "     Hello       Guys!"
# newData1 = strip(data1)
newData1 = data1.strip() # strop() remove any whitespaces at the begining
print(newData1)
print(fullName.lower()) # lower() make all the letters in lowercase
print(fullName.upper()) # upper() make all the letters in uppercase
print(data1.replace("H", "#H")) # to replace the any letters in a string
print(fullName.split(" "))
skills = "Teaching,Tutoring,Dancing,Singing,Cricket Playing,Programming,Documentation,Photoshop,Event Management,App Development,Software Development,Web Development"
print(skills.split(","))

Keshav Bhandari
h
6
shav
Hello       Guys!
keshav bhandari
KESHAV BHANDARI
     #Hello       Guys!
['Keshav', 'Bhandari']
['Teaching', 'Tutoring', 'Dancing', 'Singing', 'Cricket Playing', 'Programming', 'Documentation', 'Photoshop', 'Event Management', 'App Development', 'Software Development', 'Web Development']

In [ ]:
x = str(3)    # x will be '3'
print(x)
print(type(x))
y = int(3)    # y will be 3
print(y)
print(type(y))
z = float(3)  # z will be 3.0
print(z)
print(type(z))

3
<class 'str'>
3
<class 'int'>
3.0
<class 'float'>

In [ ]:
x = 23.56
y = 12
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

35.56
11.559999999999999
282.71999999999997
1.9633333333333332
11.559999999999999

In [ ]:
x = 5
y = 10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(type(x)) # to get the which type of data is assigned to the variable

15
-5
50
0.5
5
<class 'int'>

In [ ]:
print("Hello World!")

Hello World!