<a href="https://colab.research.google.com/github/imksav/gca_python/blob/master/PythonAtGCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

==========================New To Python Trainer==========================

In [47]:
# accessing string
str ="imksav"
for x in str:
  print(x)
print("===========")
print(str[4])
print(str[-4])
print(str[3:5]) #3 is inclusively and #7 is exclusively
print(str)
id(str)
del(str)
print(str)
id(str)

i
m
k
s
a
v
===========
a
k
sa
imksav
<class 'str'>

94842768428000

In [20]:
# integer number
binary = 0b1010 #0b denotes the binary number system
print(binary)
octal = 0o1756 #0o denotes the octal number system
print(octal)
hex = 0xABC #0x denotes the hexa-decimal number system
print(hex)
# floating number
print(6.1E-2)
print(7.69-2)
# String
empty = ""
print(empty)
# string doesn't have any limited character
# Use of escape sequence(\)
a=5
b=6
c=a
print(c)
print("1st column\t2nd column")
print(r"Hello \n World")
print("Hello \\n World")

10
1006
2748
0.061
5.69

5
1st column	2nd column
Hello \n World
Hello \n World


==========================Old To Python Trainer==========================

**Functions**

In [ ]:
def multiplication():
  for i in range(1,11):
    for j in range(1,11):
      print(i*j,"\t",end=" ")
    print()

In [ ]:
multiplication()

1 	 2 	 3 	 4 	 5 	 6 	 7 	 8 	 9 	 10
2 	 4 	 6 	 8 	 10 	 12 	 14 	 16 	 18 	 20
3 	 6 	 9 	 12 	 15 	 18 	 21 	 24 	 27 	 30
4 	 8 	 12 	 16 	 20 	 24 	 28 	 32 	 36 	 40
5 	 10 	 15 	 20 	 25 	 30 	 35 	 40 	 45 	 50
6 	 12 	 18 	 24 	 30 	 36 	 42 	 48 	 54 	 60
7 	 14 	 21 	 28 	 35 	 42 	 49 	 56 	 63 	 70
8 	 16 	 24 	 32 	 40 	 48 	 56 	 64 	 72 	 80
9 	 18 	 27 	 36 	 45 	 54 	 63 	 72 	 81 	 90
10 	 20 	 30 	 40 	 50 	 60 	 70 	 80 	 90 	 100

**Loops**

In [ ]:
# More in Loop
for i in range(2,10):
  for x in range(2,i):
    if i % x == 0:
      print(i, "equals", x,"*",i//x)
      break;
  else:
      print(i,"is a prime number.")

2 is a prime number.
3 is a prime number.
4 equals 2 * 2
5 is a prime number.
6 equals 2 * 3
7 is a prime number.
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
words = ['I','am','Keshav','Bhandari']
for i in range(len(words)):
  print(i,words[i])

0 I
1 am
2 Keshav
3 Bhandari

In [ ]:
# For Loop
name = str(input("Enter your name:"))
for names in name:
  print(names)
  print(name)

Enter your name:Keshav
K
Keshav
e
Keshav
s
Keshav
h
Keshav
a
Keshav
v
Keshav

**Decision Making**

In [ ]:
# if....else......
age = int(input("Enter your age:"))
if age>=18:
  print("You are voter.")
else:
  print("You aren't voter.")
# if...elif.....
per = float(input("Enter your percentage:"))
if per>=90:
  print("A+")
elif per>=80:
  print("A")
elif per>=70:
  print("B+")
elif per>=60:
  print("B")
elif per>=50:
  print("C+")
elif per>=40:
  print("C")
elif per>=30:
  print("D+")
elif per>=20:
  print("D")
elif per>=10:
  print("E")
elif per>0:
  print("F")
elif per==0:
  print("N/A")

Enter your age:22
You are voter.
Enter your percentage:65
B

**Dictionaries**

**Practice of Dictonary**

In [ ]:
# Practice of Dictonary
subjects = {"Nepali":"Kapil Raya", "English":"Diwas Thami", "Computer":"Keshav Bhandari"}
print(subjects)
for k,v in subjects.items():
  print(k,"==>",v)
for i,v in enumerate(['Apple', "Ball", "Cat"]):
  print(i+1s,"==>",v)

{'Nepali': 'Kapil Raya', 'English': 'Diwas Thami', 'Computer': 'Keshav Bhandari'}
Nepali ==> Kapil Raya
English ==> Diwas Thami
Computer ==> Keshav Bhandari
1 ==> Apple
2 ==> Ball
3 ==> Cat

In [ ]:
# More of Dict
dict1 = {
    "name": "Keshav Bhandari",
    "email": "imksav@gmail.com",
    "age": 21
}
print(dict1)
# Use of zip
questions = ["name", "email", "age"]
answers = ["Keshav Bhandari", "imksav@gmail.com", 21]
for q,a in zip(questions, answers):
  print("What is your {0}?\nMy {0} is {1}.".format(q,a))

{'name': 'Keshav Bhandari', 'email': 'imksav@gmail.com', 'age': 21}
What is your name?
My name is Keshav Bhandari.
What is your email?
My email is imksav@gmail.com.
What is your age?
My age is 21.

In [ ]:
# Use of Dict
myDict = {
    "fName": "Keshav",
    "lName": "Bhandari",
    "age": "21",
    "education": "Bachelor in Computer Science - Information Technology",
    "college": "Sunway International Business School"
}
print(myDict)
print("My name is "+myDict["fName"]+" "+myDict["lName"]+".\nI'm "+myDict["age"]+" years old.\nI'm studying "+myDict["education"]+" at "+myDict["college"]+".")
print("==========================")
print("My name is "+myDict.get("fName")+" "+myDict.get("lName")+".\nI'm "+myDict.get("age")+" years old.\nI'm studying "+myDict.get("education")+" at "+myDict.get("college")+".")
print("==========================")
for x in myDict:
  print(x)
print("==========================")
for x in myDict:
  print(myDict[x])
print("==========================")
for x in myDict.values():
  print(x)
print("==========================")
for x, y in myDict.items():
  # print(x,y)
  print(x+": "+y)

{'fName': 'Keshav', 'lName': 'Bhandari', 'age': '21', 'education': 'Bachelor in Computer Science - Information Technology', 'college': 'Sunway International Business School'}
My name is Keshav Bhandari.
I'm 21 years old.
I'm studying Bachelor in Computer Science - Information Technology at Sunway International Business School.
==========================
My name is Keshav Bhandari.
I'm 21 years old.
I'm studying Bachelor in Computer Science - Information Technology at Sunway International Business School.
==========================
fName
lName
age
education
college
==========================
Keshav
Bhandari
21
Bachelor in Computer Science - Information Technology
Sunway International Business School
==========================
Keshav
Bhandari
21
Bachelor in Computer Science - Information Technology
Sunway International Business School
==========================
fName: Keshav
lName: Bhandari
age: 21
education: Bachelor in Computer Science - Information Technology
college: Sunway International Business School

In [ ]:
# More of Set
set1 = {1,3,5,7,9}
set2 = {2,4,6,8,10}
print(set1.union(set2))
# set1.update(set2)
set1.update(set2)
print(set1)
intersectionSet = set1.intersection(set2)
print(intersectionSet)
differenceSet = set1.difference(set2)
print(differenceSet)
print("================")
print(set1)
print(set2)
print(set1-set2)
print(set2-set1)
print(set1 | set2)
print(set1 & set2)
print(set1 ^ set2)
print(set2 ^ set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
================
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
set()
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}

In [ ]:
# Set
mySet = {1,5,9,3,7}
print(mySet)
print(5 in mySet)
print(10 in mySet)
mySet.add(11)
print(mySet)
mySet.update({13,15})
print(mySet)
mySet.remove(5)
print(mySet)
# mySet.remove(5) gives error but
mySet.discard(5) # doesn't give error
print(mySet)
mySet.pop() # starts from begining rather than last indexing
print("###########")
mySet.clear()
print(mySet)

{1, 3, 5, 7, 9}
True
False
{1, 3, 5, 7, 9, 11}
{1, 3, 5, 7, 9, 11, 13, 15}
{1, 3, 7, 9, 11, 13, 15}
{1, 3, 7, 9, 11, 13, 15}
###########
set()

In [ ]:
# Tuple
myTuple = (1,6,9,7,2)
print(myTuple)
if 10 in myTuple:
  print("Yes Found")
else:
  print("Not Found")
print(9 in myTuple)
print(10 in myTuple)

(1, 6, 9, 7, 2)
Not Found
True
False

In [ ]:
# stack
stack = [1,5,9,7]
stack.append(3)
print(stack)
stack.reverse()
print(stack)
stack.pop()
stack.pop()
print(stack)
# explore more yourself

[1, 5, 9, 7, 3]
[3, 7, 9, 5, 1]
[3, 7, 9]

In [ ]:
# WAP to accept inut from the user and check whether the input is positive or negative or zero.
number = int(input("Enter a number: "))
if(number > 0):
  print("positive")
elif(number<0):
  print("Negative")
else:
  print("Zero")

Enter a number: 0
Zero

**Loop Through List**

---

In [ ]:
myList = ["Apple", "Ball", "Cat"]
print(myList)
for x in myList:
  print(x)
print(myList[1])
# use of range
for i in range(3,32,7):
  print(i)
# check item from user input
fruits = ["Apple", "Banana", "Mango", "Apple", "Banana"]
fruit = input("Enter name of fruits:")
if fruit in fruits:
  print(fruit+ " is found")
else:
  print("Not found")
print(fruits.count("Apple")) # to count the data in a list
print(fruits.index("Banana")) # place value of data in a list
print(fruits.index("Banana", 3))
fruits.append("Orange")
print(fruits)
fruits.reverse()
print(fruits)
fruits.sort()
print(fruits)
fruits.pop()

['Apple', 'Ball', 'Cat']
Apple
Ball
Cat
Ball
3
10
17
24
31
Enter name of fruits:Orange
Not found
2
1
4
['Apple', 'Banana', 'Mango', 'Apple', 'Banana', 'Orange']
['Orange', 'Banana', 'Apple', 'Mango', 'Banana', 'Apple']
['Apple', 'Apple', 'Banana', 'Banana', 'Mango', 'Orange']

'Orange'

**First Step towards Programming**

---

```
# Fibonacci Series
```

In [ ]:
a, b = 0,1
while a<100:
  print(a, end=",")
  a,b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,

In [ ]:
# Learning List
squares = [0,1,4,9,16,25,36]
print(squares)
print(squares[0]) # print view
print(squares[:]) # print view
print(squares[:0:]) # print view
print(squares[:-4]) # print view
print(squares[-4:]) # print view
print(squares+[49,64,81]) # add data to existing list
print(squares[:]) # print view
squares.append(100) # add the data into list
print(squares)
print(len(squares)) # printing the length of list
squares[5]=26
print(squares)
letters = ['a','c', 'd', 'u']
print(letters)
letters[1:3]=['e','i'] # add data into the given place value in list 
print(letters)
letters[1:3]=[]
print(letters)
letters[:]=[]
print(letters)
a = ["Keshav", "Hari", "Sita", "Gita"]
print(a)
b = [1,2,3,4]
print(b)
c = [a,b] # adding list of data into a list
print(c)

[0, 1, 4, 9, 16, 25, 36]
0
[0, 1, 4, 9, 16, 25, 36]
[]
[0, 1, 4]
[9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 100]
8
[0, 1, 4, 9, 16, 26, 36, 100]
['a', 'c', 'd', 'u']
['a', 'e', 'i', 'u']
['a', 'u']
[]
['Keshav', 'Hari', 'Sita', 'Gita']
[1, 2, 3, 4]
[['Keshav', 'Hari', 'Sita', 'Gita'], [1, 2, 3, 4]]

In [ ]:
# Learning Strings
fName = "Keshav"
space = " "
lname = "Bhandari"
fullName =fName+space+lname # to concatate
print(fullName)
print(fName[3]) # to print the character of given place value 
print(len(fName)) # to get the length of string data
print(fullName[2:6]) # include the begining and exclude the ending place value
data1 = "     Hello       Guys!"
# newData1 = strip(data1)
newData1 = data1.strip() # strop() remove any whitespaces at the begining
print(newData1)
print(fullName.lower()) # lower() make all the letters in lowercase
print(fullName.upper()) # upper() make all the letters in uppercase
print(data1.replace("H", "#H")) # to replace the any letters in a string
print(fullName.split(" "))
skills = "Teaching,Tutoring,Dancing,Singing,Cricket Playing,Programming,Documentation,Photoshop,Event Management,App Development,Software Development,Web Development"
print(skills.split(","))

Keshav Bhandari
h
6
shav
Hello       Guys!
keshav bhandari
KESHAV BHANDARI
     #Hello       Guys!
['Keshav', 'Bhandari']
['Teaching', 'Tutoring', 'Dancing', 'Singing', 'Cricket Playing', 'Programming', 'Documentation', 'Photoshop', 'Event Management', 'App Development', 'Software Development', 'Web Development']

In [ ]:
# Type Casting
x = str(3)    # x will be '3'
print(x)
print(type(x))
y = int(3)    # y will be 3
print(y)
print(type(y))
z = float(3)  # z will be 3.0
print(z)
print(type(z))

3
<class 'str'>
3
<class 'int'>
3.0
<class 'float'>

In [ ]:
# Float Data Type
x = 23.56
y = 12
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

35.56
11.559999999999999
282.71999999999997
1.9633333333333332
11.559999999999999

In [ ]:
# Integer Data Type
x = 5
y = 10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(type(x)) # to get the which type of data is assigned to the variable

15
-5
50
0.5
5
<class 'int'>

In [ ]:
# Starting Python
print("Hello World!")

Hello World!